<html>
    <head>
        <title>
            to-do
        </title>
        <link href = "/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>If your bored you, came to the right place</h1>
        <div>
            <p>Activity</p>
        </div>
    </body>
    <script src='index.js'></script>

</html>